## Detectando Outliers com PyOD
##### O Diferencial do PyOD é que podemos detectar os outliers de forma automática, enquanto utilizando BoxPlot ou Gráficos são de forma manual, onde podemos passar 1 atributo por vez.
##### https://pyod.readthedocs.io/en/latest/

In [1]:
from pyod.models.knn import KNN

In [2]:
detector = KNN()

In [5]:
import pandas as pd
base = pd.read_csv('credit_data.csv')
base = base.dropna()

In [6]:
# Localizando os Outliers
detector.fit(base.iloc[:, 1:4])

KNN(algorithm='auto', contamination=0.1, leaf_size=30, method='largest',
  metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2,
  radius=1.0)

### Na variável previsoes, quando o valor é 0 não é outlier, se for 1 é outlier

In [9]:
previsoes = detector.labels_
previsoes

array([0, 0, 0, ..., 0, 0, 1])

### Na variável confianca_previsoes, mostra os valores que foram clasificados como outliers

In [10]:
confianca_previsoes = detector.decision_scores_
confianca_previsoes

array([ 704.78948078,  365.218309  ,  583.2159934 , ...,  395.01466508,
        557.88978241, 1071.5109404 ])

#### Criando um DataFrame composto pelas ROWs que foram apontadas como Outliers

In [11]:
# Criando a lista de indices de outliers pela variável previsoes
outliers = []
for i in range(len(previsoes)):
    if previsoes[i] ==1:
        outliers.append(i)

# Criando um DataFrame composto pelos outliers, utilizando a lista outliers como indice de busca
lista_outliers = base.iloc[outliers, :]

In [12]:
lista_outliers

      i#clientid        income        age          loan  c#default
4              5  66952.688845  18.584336   8770.099235          1
24            25  65301.984029  48.840922   5465.267886          0
29            30  58842.891308  54.510948  10871.186790          0
34            35  57584.973790  36.672021   1728.423755          0
38            39  60921.063104  18.840526    968.836383          0
...          ...           ...        ...           ...        ...
1943        1944  59792.508585  24.187499    660.241453          0
1944        1945  35879.519994  41.072935   5335.403499          0
1957        1958  50458.958203  52.314565   9852.889427          0
1996        1997  69516.127573  23.162104   3503.176156          0
1999        2000  69436.579552  56.152617   7378.833599          0

[200 rows x 5 columns]