### Apriori na base de mercado

In [1]:
import pandas as pd
base = pd.read_csv(r'mercado.csv', header=None)
base

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [2]:
transacoes = []
for i in range(0, 10):
    transacoes.append([str(base.values[i, j]) for j in range(0, 4)])
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [3]:
from apyori import apriori
regras = apriori(transacoes,
                 min_support=0.3,
                 min_confidence=0.8,
                 min_lift=2,
                 min_lenght=2)
resultados = list(regras)
print(f'Foram encontrados {len(resultados)} resultados.')

Foram encontrados 3 resultados.

In [4]:
resultados2 = [list(x) for x in resultados]
resultados2

[[frozenset({'cafe', 'manteiga'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'pao'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]],
 [frozenset({'cafe', 'manteiga', 'pao'}),
  0.3,
  [OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
   OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]]]

In [5]:
# Deixando mais leg√≠vel o resultado das regras com apriori
resultadoFormatado = []
for j in range(0, 3):
    resultadoFormatado.append([list(x) for x in resultados[j][2]])

In [6]:
resultadoFormatado

[[[frozenset({'cafe'}), frozenset({'manteiga'}), 1.0, 2.0]],
 [[frozenset({'cafe'}), frozenset({'pao'}), 1.0, 2.0]],
 [[frozenset({'cafe', 'manteiga'}), frozenset({'pao'}), 1.0, 2.0],
  [frozenset({'cafe', 'pao'}), frozenset({'manteiga'}), 1.0, 2.0]]]