#### Apriori em cima da base mercado2
##### Sendo uma base de dados real de um supermercado, com mais de 7000 registros de 20 Produtos

In [ ]:
import pandas as pd
base = pd.read_csv(r'mercado2.csv', header=None)

In [14]:
print(len(base), 'registros')
print(f'{len(list(base))} Produtos')
base.head()

7500 registros
20 Produtos

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Jogando os dados do dataset em uma lista, adequando-os para o Apriori

In [ ]:
transacoes = []
# 7501 é a quantidade de ROWs e 20 os produtos
for i in range(0, 7501):
    transacoes.append([str(base.values[i, j]) for j in range (0, 20)])

#### Utilizando o Apriori

In [ ]:
from apyori import apriori

# O min_support foi obtido realizando: 4 (Um produto foi vendido 4 vezes) x 7 (7 dias da semana) = 28 / 7501 registros
# Sendo 7 dias pois a base de dados foram as vendas durante UMA semana
regras = apriori(transacoes,
                min_support=0.003,  # Por conta de ter um vasto número de produtos, foi reduzido o suporte mínimo
                min_confidence=0.2,  # O mesmo se aplica para a confiança
                min_lift=3.0,
                min_lenght=2)

In [ ]:
print(f'Foram gerados {len(list(regras))}')

In [ ]:
resultados = list(regras)
resultados2 = [list(x) for x in resultados]
resultadoFormatado = []
for j in range(0, 5):
    resultadoFormatado.append([list(x) for x in resultados2[j][2]])
resultadoFormatado